<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Poker Face</title>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="/static/js/init.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bangers&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="menu">
        <a href="/">Home</a> | <a href="/game">Game</a> | <a href="/settings">Settings</a> | <a href="/about">About</a>
    </div>

    <div class="title">
        My Poker Face
    </div>

    <div class="container content">
        <div class="players">
            {% for player in players %}
                <div class="player-card">
                    <img src="{{ url_for('static', filename='images/kanye.jpg') }}"
                     class="player-headshot" alt="Player picture" >
                    <h2>{{ player.name }}</h2>
                    <p>${{ player.money }}</p>
                    <div id="{{ player.name }}-player-card" class="player-cards">
                        {% for card in player.cards %}
                            <span class="card
                                {% if card.suit == '♥' %}hearts{% elif card.suit == '♦' %}diamonds
                                {% elif card.suit == '♣' %}clubs{% elif card.suit == '♠' %}spades{% endif %}
                            ">{{ card.rank }}{{ card.suit }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="table-container content">
        <div class="table">
            <div id="pot" class="pot">
                Pot: $1250 | Min: $50
            </div>
            <div id="community-cards" class="community-cards">
                {% for card in community_cards %}
                    <span class="card
                        {% if card.suit == '♥' %}hearts{% elif card.suit == '♦' %}diamonds
                        {% elif card.suit == '♣' %}clubs{% elif card.suit == '♠' %}spades{% endif %}
                    ">{{ card.rank }}{{ card.suit }}</span>
                {% endfor %}
            </div>
            <div class="deck">
                [Deck]
            </div>
        </div>
    </div>

    <div class="player-options content">
        {% for option in player_options %}
            <button class="player-action" onclick="playerAction('{{ option }}')">{{ option }}</button>
        {% endfor %}
    </div>

    <!-- Advantages Window -->
    {% include 'advantages.html' %}

    <!-- Messages Window -->
    {% include 'messages.html' %}

    <!-- Background Image for the Bottom Portion -->
    <div class="background-bottom"></div>
</body>
</html>