<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Poker Face</title>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="/static/js/init.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bangers&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="menu">
        <a href="/">Home</a> | <a href="/game">Game</a> | <a href="/settings">Settings</a> | <a href="/about">About</a>
    </div>

    <div class="title">
        My Poker Face
    </div>

    <div class="container content">
        <div class="players" id="players">
            {% for player in game_state.players %}
                <div class="{% if game_state.current_player.name == player.name %}player-card--current-player{% elif player.has_acted %}player-card--has-acted{% else %}player-card{% endif %}"
                     id="player-{{ loop.index + 1 }}">
                    <img src="{{ url_for('static', filename='images/kanye.jpg') }}" class="player-headshot" alt="Player picture" >
                    <h2>{{ player.name }}</h2>
                    <p>${{ player.stack }}</p>
                    <div id="cards-player-{{ loop.index + 1 }}" class="{% if player.is_folded %}player-cards--is-folded{% else %}player-cards{% endif %}">
                        {% for card in player.hand %}
                            <span class="card
                                {% if card.suit == 'Hearts' %}hearts{% elif card.suit == 'Diamonds' %}diamonds
                                {% elif card.suit == 'Clubs' %}clubs{% elif card.suit == 'Spades' %}spades{% endif %}
                            ">{{ card.rank }} {% if card.suit == 'Hearts' %}♥{% elif card.suit == 'Diamonds' %}♦
                                {% elif card.suit == 'Clubs' %}♣{% elif card.suit == 'Spades' %}♠{% endif %}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="table-container content">
        <div class="table">
            <div id="pot" class="pot">
                Pot: ${{ game_state.pot.total }} | Current bet: $ {{ game_state.highest_bet }}
            </div>
            <div id="community-cards" class="community-cards">
                {% for card in game_state.community_cards %}
                    <span class="card
                        {% if card.suit == 'Hearts' %}hearts{% elif card.suit_symbol == 'Diamonds' %}diamonds
                        {% elif card.suit_symbol == 'Clubs' %}clubs{% elif card.suit_symbol == 'Spades' %}spades{% endif %}
                    ">{{ card.rank }} {% if card.suit == 'Hearts' %}♥{% elif card.suit == 'Diamonds' %}♦
                        {% elif card.suit == 'Clubs' %}♣{% elif card.suit == 'Spades' %}♠{% endif %}</span>
                {% endfor %}
            </div>
            <div class="deck">
                [Deck]
            </div>
        </div>
    </div>

    {% if game_state.current_player.is_human %}
    <div id="player-options" class="player-options content">
        {% for option in player_options %}
            {% if option == "raise" %}
                <button class="player-action" id="{{ option }}-button">{{ option }}</button>
                <div id="bet-slider-container" class="bet-slider-container bet-slider-container-collapsed">
                    <label for="bet-slider">Bet Amount:</label>
                    <input type="range" id="bet-slider" min="0" max="1000" step="50">
                    <label for="bet-amount">Enter Amount:</label>
                    <input type="number" id="bet-amount" min="0" max="1000" step="50">
                    <button id="bet-submit-button" onclick="playerAction('{{ option }}')">Submit</button>
                </div>
            {% else %}
                <button class="player-action" id="{{ option }}-button" onclick="playerAction('{{ option }}')">{{ option }}</button>
            {% endif %}
        {% endfor %}
    </div>
{#    {% else %}#}
{#    <!-- Pop-up Container to display AI actions -->#}
{#    <div id="popup-container" class="popup">#}
{#        <div id="popup-content" class="popup-content">#}
{#            <span id="popup-message"></span>#}
{#        </div>#}
{#    </div>#}
    {% endif %}

    <!-- Advantages Window -->
    {% include 'advantages.html' %}

    <!-- Messages Window -->
    {% include 'messages.html' %}

    <!-- Background Image for the Bottom Portion -->
    <div class="background-bottom"></div>
</body>
</html>