<!-- advantages.html -->
<div id="advantages-container" class="advantages collapsed">
    <div id="advantages-toggle-bar" class="messages-header">
        <h3>ADVANTAGES</h3>
    </div>
    <div class="nav-tabs">
        <div class="tabs active" id="tab-strategy">Strategy</div>
        <div class="tabs" id="tab-history">History</div>
        <div class="tabs" id="tab-actions">Actions</div>
        <div class="tabs" id="tab-inventory">Inventory</div>
    </div>

    <!-- Tab Content Sections -->
    <div class="tab-content active" id="content-strategy">
        <p>This is the strategy content.</p>
    </div>

    <div class="tab-content" id="content-history">
        <p>This is the history content.</p>
        <p>And this is more that we can see, we want to know what is happening?</p>
    </div>

    <div class="tab-content" id="content-actions">
        <p>This is the actions content.</p>
    </div>

    <div class="tab-content" id="content-inventory">
        <p>This is the inventory content.</p>
    </div>
</div>
<script src="/static/js/advantages.js"></script>