<!-- messages.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
<div id="messages" class="messages">
    <div id="messages-toggle-bar" class="messages-header">
        <h3>MESSAGES</h3>
    </div>
    <div id="messages-display" class="messages-display">
        <!-- Messages will be filled here when fetched... -->
    </div>
    <div class="messages-input-container">
        <label for="message-input"></label><input type="text" id="message-input" placeholder="Send a message..." class="message-input">
        <button title="send-button" id="send-button" class="send-button">
            <i class="fas fa-paper-plane"></i>
        </button>
    </div>
</div>
<script src="/static/js/messages.js"></script>