<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Poker Face</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/OLD_style.css') }}">
</head>
<body>
    <div class="menu">
        <a href="/">Home</a>
        <a href="/game">Game</a>
        <a href="/settings">Settings</a>
        <a href="/about">About</a>
    </div>
    <div class="container">
        <h1>Welcome to My Poker Face!</h1>
    </div>
    <div class="container">
        <h2>Game Settings</h2>
        <p>{{ game_state }}</p>
    </div>
</body>
</html>